@import "../../../src/styles/global.scss";

.loginSection {
  position: relative;
  min-height: calc(100vh - $nav-height);
  width: 100%;
  position: relative;
  background-color: $color-background;
}

.loginContainer {
  @include flexCenter;
  flex-direction: column;
  min-height: 80vh;
  margin: 0 auto;

  .textBox {
    margin: 7vh 0 6vh 0;

    .text {
      color: $color-text;
      font-weight: 300;
      font-size: $font-xl;
      line-height: 38px;
      letter-spacing: -0.02em;
    }
  }
}
