@import "../../../styles/global.scss";

.mainOffers {
  position: relative;
  @include flexCenter;
  flex-direction: column;
  min-height: calc(120vh - $nav-height);
  width: 100%;
  margin: 50px 0;
  background-color: #f1eef7;
}

.mainContainer {
  @include flexCenter;
  width: 80%;
  margin: 0 auto;
  background-color: #f1eef7;

  @media (max-width: 64em) {
    width: 85%;
  }

  @media (max-width: 48em) {
    flex-direction: column-reverse;
    width: 100%;

    & > .box:first-child {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

.box {
  @include flexCenter;
  flex-direction: column;
  width: 50%;
  height: 100%;

  .mainImage {
    width: 100%;
    height: 100%;

    @media (max-width: 48em) {
      width: 60%;
      height: 60%;
      margin-bottom: 2rem;
    }
  }

  .boxTitle {
    height: 3.6em;
    margin-bottom: 20px;
    color: $color-text;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: capitalize;

    @media (max-width: 78em) {
      font-size: $font-xl;
    }

    @media (max-width: 48em) {
      font-size: $font-lg;
      align-self: center;
      text-align: center;
    }
  }

  .boxSubTitle {
    margin-bottom: 1rem;
    color: $color-grey;
    font-size: $font-md;
    font-weight: 500;
    text-transform: capitalize;
    align-self: flex-start;

    @media (max-width: 40em) {
      display: none;
    }

    @media (max-width: 48em) {
      align-self: center;
      text-align: center;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
