@import "../../styles/global.scss";

.cart {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  min-height: calc(66vh - $nav-height);
  width: 100%;
  background-color: $color-background;

  .wrapper {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    display: flex;

    .productAll {
      @include flexBetween;
      margin: 50px 0 20px;

      .product {
        display: flex;
        align-items: center;
        cursor: pointer;

        .checkIcon {
          margin-right: 6px;
          font-size: 25px;
        }
      }

      .orderProcess {
        display: flex;
        align-items: center;

        .stepOne,
        .stepTwo,
        .stepThree {
          display: flex;
          align-items: center;
          margin-right: 10px;
          color: #969696;
          font-size: $font-sm;
          font-weight: 400;

          .step {
            @include flexCenter;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border-radius: 50%;
            background-color: $color-lightgrey;
            color: $color-background;
          }
        }

        .stepOne {
          color: #2e2e2e;
          font-weight: 700;

          .step {
            @include flexCenter;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border-radius: 50%;
            background-color: $color-green;
            color: #fff;
          }
        }
      }
    }

    .priceWrap {
      .blockTitle {
        padding: 20px 0;
        font-weight: 700;
        font-size: 17px;
      }

      .productPrice {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #2e2e2e;
        padding: 20px 0;
      }

      .deliveryCharge {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
      }

      .totalPrice {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #2e2e2e;
        padding: 20px 0;

        .priceContext {
          color: $color-green;
          font-weight: 700;
        }

        .price {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .emptyCart {
      @include flexCenter;
      flex-direction: column;
      padding: 60px 0;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #eaeaea;
      color: #767676;

      .infoIcon {
        margin-bottom: 10px;
        color: #d5d5d5;
        font-size: 36px;
      }

      .loginBtn {
        margin-top: 16px;
        padding: 8px 18px;
        border-radius: 4px;
        background-color: $color-green;
        color: #fff;
        font-size: $font-xs;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
