@import "../../../../src/styles/global.scss";

.searchBar {
  @include flexBetween;
  width: 48%;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #5055b1;
  color: $color-text;
  font-size: $font-md;

  @media (max-width: 48em) {
    display: none;
  }

  .searchBarInput {
    width: 100%;
    height: 100%;
    color: $color-text;
    font-size: $font-md;
  }
}

.searchBtn {
  color: #5055b1;
  font-size: 20px;
  cursor: pointer;

  @media (max-width: 48em) {
    display: none;
  }

  &:hover {
    color: #151853;
  }
}
