@import "common/_reset";
@import "common/_fonts";
@import "common/_variables";
@import "common/_mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $color-background;
}

main {
  padding: 2rem 0;
}
