@import "../../../src/styles/global.scss";

.adminItem {
  @include flexCenter;
  width: 25%;

  .itemContents {
    position: relative;
    width: 250px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    border: 1px solid #f1f1f1;
    margin-bottom: 14px;

    .closeBtn {
      @include flexCenter;
      position: absolute;
      top: 0;
      right: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #ff6162;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }

    .bottomContext {
      margin-top: 26px;

      .imgWrap {
        @include flexCenter;
        margin-bottom: 20px;

        .bookImg {
          width: 60%;
          height: 70%;
        }
      }

      .bottomTitle {
        max-height: 2.3em;
        font-size: 20px;
        line-height: 1.15;
        overflow-wrap: break-word;
      }

      .bottomPrice {
        color: grey;
        font-size: $font-md;
        line-height: 1.43;

        .prePrice {
          margin-right: 5px;
          font-weight: 400;
          font-size: $font-xs;
          text-decoration: line-through;
        }

        .salePrice {
          color: #ff6162;
          font-weight: 600;
        }
      }

      .bottomPrice {
        color: grey;
        line-height: 1.88;
      }
    }

    .bottomDetail {
      margin-top: 22px;
      color: grey;

      .bottomAuthor {
        margin-right: 8px;
        font-size: $font-sm;
        line-height: 1.43;
      }

      .bottomPublicationDate {
        font-size: $font-sm;
        line-height: 1.43;
      }
    }
  }
}

@media (max-width: 62em) {
  .adminItem {
    width: 33%;
  }
}

@media (max-width: 48em) {
  .adminItem {
    width: 50%;
  }
}

@media (max-width: 38em) {
  .adminItem {
    width: 100%;
  }
}
