@import "../../../src/styles/global.scss";

.adminItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;

  .itemContents {
    width: 250px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
    border: 1px solid #f1f1f1;
    margin-bottom: 14px;
    position: relative;

    .closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      width: 26px;
      height: 26px;
      background-color: #ff6162;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
    }

    .bottomContext {
      position: relative;
      margin-top: 26px;

      .imgWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .bookImg {
          width: 60%;
          height: 70%;
        }
      }

      .bottomTitle {
        font-size: 20px;
        line-height: 1.15;
        overflow-wrap: break-word;
        max-height: 2.3em;
      }

      .bottomPrice {
        font-size: 16px;
        line-height: 1.43;
        color: grey;

        .prePrice {
          font-weight: 400;
          font-size: 12.5px;
          text-decoration: line-through;
          margin-right: 5px;
        }

        .salePrice {
          color: #ff6162;
          font-weight: 600;
        }
      }

      .bottomPrice {
        line-height: 1.88;
        color: grey;
      }
    }

    .bottomDetail {
      margin-top: 22px;
      color: grey;

      .bottomAuthor {
        font-size: 15px;
        line-height: 1.43;
        margin-right: 8px;
      }

      .bottomPublicationDate {
        font-size: 15px;
        line-height: 1.43;
      }
    }
  }
}

@media (max-width: 62em) {
  .item {
    width: 50%;
  }
}

@media (max-width: 48em) {
  .item {
    width: 50%;
  }
}

@media (max-width: 38em) {
  .item {
    width: 100%;
  }
}
