@import "../../../src/styles/global.scss";

.logoText {
  @include flexCenter;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  .logoImg {
    width: 54px;
    height: 64px;

    @media (max-width: 34em) {
      width: 40px;
      height: 50px;
    }
  }
}
