// Colors
$color-primary: #8e99fc;
$color-secondary: #ff6162;
$color-grey: #f1f1f1;
$color-green: #09aa5c;
$color-blue: #4b95fd;
$color-darkgrey: #bcbcbc;
$color-text: #101010;
$color-background: #ffffff;

// Font Sizes
$font-xxxs: 0.7em; //11px;
$font-xxs: 0.75em; //12px;
$font-xs: 0.8125em; //13px;
$font-sm: 0.9375em; //15px;
$font-md: 1em; //16px;
$font-lg: 1.375em; //22px;
$font-xl: 1.75em; //28px;
$font-xxl: 2.5em; //40px;
$font-xxxl: 3.5em; //56px;

// Buttons
$font-button: 1em; //16px;

// Layout
$nav-height: 5.5rem; //88px;
