.btnR {
  width: 150px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #4713da;
  color: #fff;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: #4713da;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalBox {
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.completeImg {
  width: 100%;
  height: auto;
}

.modalDescription {
  padding: 30px 0;
  margin-top: 14px;
  text-align: center;
  color: #3f575c;
  font-size: 18px;
  font-weight: 400;
  line-height: 175%;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonL,
.buttonR {
  // 각 버튼에 대한 스타일을 여기에 추가
}
