@import "../../../styles/global.scss";

.newProduct {
  position: relative;
  width: 100%;
  height: calc(110vh - $nav-height);
  background-color: $color-background;

  .newProductTitle {
    @include flexCenter;
    margin: 100px 0 120px;

    h2 {
      font-size: $font-xxl;
      font-weight: 700;
    }

    @media (max-width: 68em) {
      h2 {
        font-size: $font-xl;
      }
    }

    @media (max-width: 40em) {
      h2 {
        font-size: $font-lg;
      }
    }
  }

  .swiperBox {
    position: relative;

    .swiper {
      display: flex;
      width: 100%;
      overflow: hidden;
    }

    .swiper-wrapper {
      display: flex;
    }

    // .swiper-slide {
    //   @include flexCenter;
    //   flex-direction: column;
    //   transition: transform 0.5s ease-out;
    // }

    // .swiper-slide-active {
    //   transition: transform 0.5s ease-out;
    // }

    // .swiper-slide-next {
    //   transform: scale(1.2);
    //   width: 100%;
    //   height: 500px;
    // }

    // .swiper-slide-prev {
    //   transition: transform 0.5s ease-out;
    // }

    .swiper-slide {
      @include flexCenter;
      flex-direction: column;
      transition: transform 0.5s ease-out;
    }

    .swiper-slide-active {
      transform: scale(1.2);
      width: 100%;
      height: 500px;
    }

    .swiper-slide-next {
      transition: transform 0.5s ease-out;
    }

    .swiper-slide-prev {
      transition: transform 0.5s ease-out;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
    }

    .swiper-button-next {
      right: 20px;
      font-size: 26px;
    }

    .swiper-button-prev {
      left: 20px;
      font-size: 26px;
    }

    .swiperSlideBox {
      @include flexCenter;
      flex-direction: column;
      width: 230px;
      height: 380px;
      border: 1px solid #f1f1f1;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);

      .swiperSlideImg {
        width: 180px;
        height: 270px;
        object-fit: cover;
      }

      .swiperSlideTitle {
        margin: 20px 0 12px;
        font-size: $font-md;
        font-weight: 700;
      }

      .swiperSlideAuthor {
        font-size: $font-sm;
        font-weight: 400;
      }
    }

    .mobile {
      display: none;
    }

    @media (max-width: 78em) {
      .swiper {
        overflow-x: scroll;
      }

      .swiper-wrapper {
        height: 400px;
      }

      .swiper-slide-next {
        transform: none;
        width: 100%;
        height: 400px;
      }

      .swiperSlideBox {
        .swiperSlideImg {
          width: 150px;
          height: 245px;
        }

        .swiperSlideTitle {
          font-size: $font-sm;
        }

        .swiperSlideAuthor {
          font-size: $font-xs;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
}
