@import "../../../../src/styles/global.scss";

.title {
  height: 3.6em;
  color: $color-text;
  font-size: 2.8em;
  font-weight: 700;
  text-transform: capitalize;
  align-self: flex-start;

  span {
    text-transform: uppercase;
  }

  @media (max-width: 78em) {
    font-size: $font-xl;
  }

  @media (max-width: 48em) {
    align-self: center;
    text-align: center;
  }
}

.subTitle {
  margin-bottom: 1rem;
  color: $color-darkgrey;
  font-size: $font-md;
  font-weight: 500;
  text-transform: capitalize;
  align-self: flex-start;

  @media (max-width: 40em) {
    font-size: $font-md;
  }

  @media (max-width: 48em) {
    align-self: center;
    text-align: center;
  }
}
