@import "../../../src/styles/global.scss";

.header {
  width: 100%;
  background-color: $color-background;

  .hearderContainer {
    @include flexBetween;
    position: relative;
    width: 85%;
    height: $nav-height;
    margin: 0 auto;

    .userInfoContainer {
      display: flex;
      position: absolute;
      top: 5px;
      right: 3px;

      .userInfoItem {
        margin-right: 17px;
        font-size: $font-xxxs;
        color: rgb(133, 133, 133);
        cursor: pointer;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    .mobileHamburgerMenu {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      top: 2.6rem;
      left: 50%;
      width: 1.5rem;
      height: 2px;
      background-color: $color-text;
      transform: translateX(-50%) rotate(0);
      transition: all 0.3s ease;
      cursor: pointer;

      @media (max-width: 48em) {
        display: flex;
      }

      &::after,
      &::before {
        content: " ";
        position: absolute;
        right: 0;
        width: 1.5rem;
        height: 2px;
        background-color: $color-text;
        transition: all 0.3s ease;
      }

      &::after {
        top: 0.5rem;
        transform: rotate(0);
      }

      &::before {
        bottom: 0.5rem;
        transform: rotate(0);
      }

      &.active {
        width: 2rem;
        transform: translateX(-50%) rotate(90deg);

        &::after {
          width: 1rem;
          right: -2px;
          top: 0.3rem;
          transform: rotate(-40deg);
        }

        &::before {
          width: 1rem;
          right: -2px;
          bottom: 0.3rem;
          transform: rotate(40deg);
        }
      }
    }

    .desktopMenu {
      @include flexCenter;

      .cartWrap {
        display: flex;
        align-items: center;
        position: relative;

        .cartIcon {
          width: 26px;
          height: 26px;
          cursor: pointer;
        }

        .cartQuantity {
          position: absolute;
          bottom: -5px;
          right: 33px;
          padding: 2px 6px;
          border-radius: 50%;
          background-color: $color-blue;
          color: white;
          font-size: $font-xxs;
          font-weight: bold;
        }
      }

      .loginUserIcon {
        width: 30px;
        height: 30px;
        margin-left: 14px;
        border-radius: 50%;
        background: linear-gradient(135deg, #9c27b0, #e91e63);
        color: #fff;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .logoutUserIcon {
        width: 30px;
        height: 30px;
        margin-left: 14px;
        border-radius: 50%;
        background: linear-gradient(135deg, #bbdefb, #1976d2);
        color: #fff;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
