@import "../../../src/styles/global.scss";

.newBookListItem {
  @include flexCenter;
  width: 25%;

  .itemContents {
    width: 250px;
    margin-bottom: 14px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);

    .content {
      @include flexCenter;
      position: relative;
      width: 100%;
      height: 300px;
      background-color: #fff;
      font-size: 14px;
      overflow: hidden;
      cursor: pointer;

      .bookImg {
        width: 60%;
        height: 70%;
      }

      .badgeTop,
      .badgeBottom {
        position: absolute;
        right: 5px;
        width: 50px;
        min-width: 50px;
        padding: 3px 8px;
        margin-bottom: 5px;
        background-color: #ff6162;
        color: #fff;
        font-size: 10.5px;
        font-weight: 600;
        text-align: center;
        line-height: 15px;
      }

      .badgeTop {
        top: 5px;
      }

      .badgeBottom {
        top: 30px;
      }

      .options {
        @include flexColumn;
        align-items: flex-end;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 135px;
        padding: 26px 12px 23px 0;
        background-color: #fff;
        transition: bottom 0.7s ease;

        .lists {
          display: flex;
          align-items: inherit;
          flex-direction: column;
          color: grey;
          gap: 20px;

          .list {
            display: flex;
            gap: 8px;
            line-height: 1;
            cursor: pointer;

            .context {
              align-items: center;
            }
          }
        }
      }

      .openOption {
        bottom: 0px;
      }

      .closeOption {
        bottom: -156px;
      }
    }

    .bottomContext {
      position: relative;
      margin-top: 26px;

      .bottomTitle {
        max-height: 2.3em;
        font-size: 20px;
        line-height: 1.15;
        overflow-wrap: break-word;
      }

      .bottomPrice {
        color: grey;
        font-size: 16px;
        line-height: 1.43;

        .prePrice {
          margin-right: 5px;
          font-size: 12.5px;
          font-weight: 400;
          text-decoration: line-through;
        }

        .salePrice {
          color: #ff6162;
          font-weight: 600;
        }
      }

      .bottomPrice {
        color: grey;
        line-height: 1.88;
      }
    }

    .bottomDetail {
      margin-top: 22px;
      color: grey;

      .bottomAuthor {
        margin-right: 8px;
        font-size: 15px;
        line-height: 1.43;
      }

      .bottomPublicationDate {
        font-size: 15px;
        line-height: 1.43;
      }
    }
  }
}

@media (max-width: 62em) {
  .item {
    width: 50%;
  }
}

@media (max-width: 48em) {
  .item {
    width: 50%;
  }
}

@media (max-width: 38em) {
  .item {
    width: 100%;
  }
}
