@import "../../../../src/styles/global.scss";

.banner {
  @include flexCenter;
  width: 100%;
  margin: 120px 0 0;

  @media (max-width: 60em) {
    display: block;
  }

  .bannerContainer {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .bannerImg {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }

    @media (max-width: 60em) {
      margin-right: 0;
    }
  }
}
