@import "../../../../src/styles/global.scss";

.banner {
  width: 100%;
  margin: 100px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 48em) {
    display: block;
  }

  .bannerContainer {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .baanerImg {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
}
