.gifContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .coverImg {
    width: 80%;
    height: 420px;
  }

  @media (max-width: 64em) {
    min-width: 40vh;
  }
}
