@import "../../styles/global.scss";

.orderHistory {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: $color-background;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    .orderProcess {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 50px 0 20px;

      .stepOne,
      .stepTwo {
        display: flex;
        align-items: center;
        font-size: $font-sm;
        margin-right: 10px;
        color: #969696;
        font-weight: 400;

        .step {
          @include flexCenter;
          background-color: #d0d0d0;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border-radius: 50%;
          color: $color-background;
        }
      }

      .stepTwo {
        color: #2e2e2e;
        font-weight: 700;

        .step {
          @include flexCenter;
          background-color: $color-green;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border-radius: 50%;
          color: #fff;
        }
      }
    }

    .orderContainer {
      margin: 20px 0 50px;
      border: 1px solid #e5e5e5;

      .orderHeader {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        background-color: $color-grey;

        .headerDate {
          margin-right: 10px;
          font-size: $font-md;
          line-height: 26px;
          letter-spacing: -0.01em;
          font-weight: 700;
        }

        .headerNumber {
          padding-top: 2px;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.01em;
          font-weight: 500;
        }
      }

      .order {
        display: flex;
        align-items: center;
        padding: 20px;

        .orderTitle {
          font-size: $font-md;
          font-weight: 700;
        }
      }

      .deliveryInfo {
        display: flex;
        align-items: center;
        padding: 13px 16px;
        margin-bottom: 16px;
        background-color: rgba(80, 85, 177, 0.06);

        .deliveryTitle {
          margin-right: 10px;
          color: $color-blue;
          font-size: 14px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: -0.01em;
        }

        .deliveryDate {
          margin-right: 10px;
          font-size: 14px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: -0.01em;
        }

        .deliveryStatus {
          font-size: 14px;
          line-height: 19px;
          letter-spacing: -0.01em;
        }
      }

      .delivery {
        padding: 20px;
        border-bottom: 1px solid #e5e5e5;

        .deliveryTitle {
          margin-right: 10px;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .deliveryPrice {
        @include flexBetween;
        padding: 20px;

        .price {
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }

    .emptyOrderContainer {
      @include flexCenter;
      flex-direction: column;
      padding: 60px 0;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #eaeaea;
      color: #767676;

      .infoIcon {
        margin-bottom: 10px;
        color: $color-lightgrey;
        font-size: 36px;
      }
    }
  }
}
