@import "../../styles/global.scss";

.orderHistory {
  min-height: calc(100vh - $nav-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: #fff;

  .wrapper {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    display: flex;

    .orderProcess {
      display: flex;
      align-items: center;
      margin: 50px 0 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .stepOne,
      .stepTwo {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-right: 10px;
        color: #969696;
        font-weight: 400;

        .step {
          background-color: #d0d0d0;
          color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
        }
      }

      .stepTwo {
        color: #2e2e2e;
        font-weight: 700;

        .step {
          background-color: #4dac27;
          color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;
        }
      }
    }

    .orderHeader {
      display: flex;
      align-items: center;
      padding: 16px 20px;
      background-color: #f7f7f7;
      box-sizing: border-box;

      .headerDate {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.01em;
        font-weight: 700;
        margin-right: 10px;
      }

      .headerNumber {
        padding-top: 2px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.01em;
        font-weight: 500;
      }
    }

    .order {
      display: flex;
      align-items: center;
      padding: 20px 0;

      .orderTitle {
        font-size: 16px;
        font-weight: 700;
      }
    }

    .deliveryInfo {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 13px 16px;
      margin-bottom: 16px;
      background-color: rgba(80, 85, 177, 0.06);

      .deliveryTitle {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
        font-weight: 700;
        color: #5055b1;
        margin-right: 10px;
      }

      .deliveryDate {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
        font-weight: 700;
        margin-right: 10px;
      }

      .deliveryStatus {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.01em;
      }
    }

    .delivery {
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5;

      .deliveryTitle {
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
      }
    }

    .deliveryPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5;

      .price {
        font-size: 14px;
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
}
